<div class="container ml-[15%] mt-10 w-96">
    <h1 class="mt-5 text-2xl font-bold">Edit OrderItem</h1>
    @if (model) {
      <form #form="ngForm" (ngSubmit)="onEditOrderItemSubmit(form)">
        <div class="mt-2">
          <div class="mt-3">
            <label class="form-control">
              <div class="label">
                <span class="label-text">Status</span>
              </div>
              <input
                type="text"
                placeholder=""
                class="input input-bordered w-full max-w-xs"
                id="status"
                name="status"
                maxlength="30"
                required
                #status="ngModel"
                [(ngModel)]="model.status"
              />
            </label>
            <div *ngIf="isFormSubmitted && status.invalid" class="text-red-700">
              <div *ngIf="status.hasError('required')">Status is required.</div>
              <div *ngIf="status.hasError('maxlength')">
                Status must be at most 30 characters.
              </div>
            </div>
          </div>
          
          <div class="mt-3">
            <label class="form-control">
              <div class="label">
                <span class="label-text">Product Cost</span>
              </div>
              <input
                type="number"
                placeholder=""
                class="input input-bordered w-full max-w-xs"
                id="productCost"
                name="productCost"
                required
                #productCost="ngModel"
                [(ngModel)]="model.productCost"
              />
            </label>
            <div *ngIf="isFormSubmitted && productCost.invalid" class="text-red-700">
              <div *ngIf="productCost.hasError('required')">Product cost is required.</div>
            </div>
          </div>

          <div class="mt-3">
            <label class="form-control">
              <div class="label">
                <span class="label-text">Tax Cost</span>
              </div>
              <input
                type="number"
                placeholder=""
                class="input input-bordered w-full max-w-xs"
                id="taxCost"
                name="taxCost"
                required
                #taxCost="ngModel"
                [(ngModel)]="model.taxCost"
              />
            </label>
            <div *ngIf="isFormSubmitted && taxCost.invalid" class="text-red-700">
              <div *ngIf="taxCost.hasError('required')">Tax cost is required.</div>
            </div>
          </div>

          <div class="mt-3">
            <label class="form-control">
              <div class="label">
                <span class="label-text">Shipping Cost</span>
              </div>
              <input
                type="number"
                placeholder=""
                class="input input-bordered w-full max-w-xs"
                id="shippintCost"
                name="shippingCost"
                required
                #shippingCost="ngModel"
                [(ngModel)]="model.shippingCost"
              />
            </label>
            <div *ngIf="isFormSubmitted && shippingCost.invalid" class="text-red-700">
              <div *ngIf="shippingCost.hasError('required')">Shipping cost is required.</div>
            </div>
          </div>
          
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </form>
    } @else {
      Not Found!
    }
  </div>
  @if (errMessage) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-error">
        <span>Could not update Order Item!</span>
      </div>
    </div>
  }
  @if (successMessage) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-success">
        <span>Order Item updated successfully!</span>
      </div>
    </div>
  }
  