@if (orders) {
  <div class="sm:w-full md:w-[60%] mx-auto">
    <h1 class="font-bold text-2xl mb-4">My Orders</h1>
    @for (order of orders; track order.orderId) {
      <div class="bg-base-100 shadow-xl rounded-3xl mb-5 p-5">
        <div class="mb-5">
          <span>
            Order Id: <span class="font-medium">{{ order.orderId }}</span>
          </span>
          <span class="ml-5"
            >Placed on:
            <span class="font-medium">{{ order.createdAt | date: 'dd/MM/yyyy' }}</span></span
          >
          <hr class="mt-3" />
        </div>
        @for (orderItem of order.orderItems; track orderItem.orderItemId) {
          <div class="flex justify-between mb-5">
            <div class="w-[20%] cursor-pointer">
              <a [routerLink]="['/products', orderItem.product.productId]">
                <img
                  [ngSrc]="orderItem.product.imageUrl"
                  [alt]="orderItem.product.name"
                  width="150"
                  height="150"
                />
              </a>
            </div>
            <div class="w-[80%] ml-5 flex justify-between">
              <div>
                <p class="font-bold text-lg">
                  <a [routerLink]="['/products', orderItem.product.productId]">
                    {{ orderItem.product.name }}
                  </a>
                </p>
                <p class="font-medium">
                  ${{
                    orderItem.productCost +
                      orderItem.shippingCost +
                      orderItem.taxCost
                  }}
                  = ${{ orderItem.productCost }} + ${{
                    orderItem.shippingCost
                  }}
                  (shipping) + ${{ orderItem.taxCost }} (tax)
                </p>
              </div>
              <button
                [routerLink]="['/orderItems', orderItem.orderItemId]"
                class="btn btn-outline btn-info rounded-full"
              >
                Track Package
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
} @else {
  <!-- <div class="text-center font-bold text-2xl mt-10">
    You have no orders!
  </div> -->
}

@if (orders) {
  <div class="flex justify-center mt-5 mb-10">
    <div class="join">
      <button class="join-item btn" (click)="getPage(1)">«</button>
      <button class="join-item btn" (click)="getPreviousPage()">&lt;</button>
      @if (this.pageNumber - 2 > 0) {
        <button class="join-item btn" (click)="getPage(this.pageNumber - 2)">
          {{ this.pageNumber - 2 }}
        </button>
      }
      @if (this.pageNumber - 1 > 0) {
        <button class="join-item btn" (click)="getPage(this.pageNumber - 1)">
          {{ this.pageNumber - 1 }}
        </button>
      }
      <button
        class="join-item btn btn-active"
        (click)="getPage(this.pageNumber)"
      >
        {{ this.pageNumber }}
      </button>

      @if (this.pageNumber + 1 <= this.paginationList.length) {
        <button class="join-item btn" (click)="getPage(this.pageNumber + 1)">
          {{ this.pageNumber + 1 }}
        </button>
      }
      @if (this.pageNumber + 2 <= this.paginationList.length) {
        <button class="join-item btn" (click)="getPage(this.pageNumber + 2)">
          {{ this.pageNumber + 2 }}
        </button>
      }
      @if (this.pageNumber + 3 <= this.paginationList.length) {
        <button class="join-item btn" (click)="getPage(this.pageNumber + 3)">
          {{ this.pageNumber + 3 }}
        </button>
      }
      <!-- @if (this.pageNumber + 4 <= this.paginationList.length) {
        <button class="join-item btn" (click)="getPage(this.pageNumber + 4)">
          {{ this.pageNumber + 4 }}
        </button>
      } -->
      <!-- @for(item of paginationList; track $index; let  i = $index){
        @if(i+1 == this.pageNumber){
          <button class="join-item btn btn-active" (click)="getPage(i + 1)">{{i+1}}</button>
        }@else {
          <button class="join-item btn" (click)="getPage(i + 1)">{{i+1}}</button>
        }
      } -->

      <button class="join-item btn" (click)="getNextPage()">&gt;</button>
      <button
        class="join-item btn"
        (click)="getPage(this.paginationList.length)"
      >
        »
      </button>
    </div>
  </div>
}
