@if (model) {
  <div class="sm:w-full md:w-[60%] mx-auto">
    <h1 class="font-bold text-2xl mb-4">My Orders</h1>
    @for (order of model; track order.orderId) {
      <div class="bg-base-100 shadow-xl rounded-3xl mb-5 p-5">
        <div class="mb-5">
          <span>
            Order Id: <span class="font-medium">{{ order.orderId }}</span>
          </span>
          <span class="ml-5"
            >Placed on:
            <span class="font-medium">{{ order.createdAt }}</span></span
          >
          <hr class="mt-3" />
        </div>
        @for (orderItem of order.orderItems; track orderItem.orderItemId) {
          <div class="flex justify-between mb-5">
            <div class="w-[20%] cursor-pointer">
              <a [routerLink]="['/products', orderItem.product.productId]">
                <img
                  [ngSrc]="orderItem.product.imageUrl"
                  [alt]="orderItem.product.name"
                  width="150"
                  height="150"
                />
              </a>
            </div>
            <div class="w-[80%] ml-5 flex justify-between">
              <div>
                <p class="font-bold text-lg">
                  <a [routerLink]="['/products', orderItem.product.productId]">
                    {{ orderItem.product.name }}
                  </a>
                </p>
                <p class="font-medium">
                  ${{
                    orderItem.productCost +
                      orderItem.shippingCost +
                      orderItem.taxCost
                  }}
                  = ${{ orderItem.productCost }} + ${{
                    orderItem.shippingCost
                  }}
                  (shipping) + ${{ orderItem.taxCost }} (tax)
                </p>
              </div>
              <button
                [routerLink]="['/orderItems', orderItem.orderItemId]"
                class="btn btn-outline btn-info rounded-full"
              >
                Track Package
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
} @else {
  No orders!
}
