@if (model) {
  <div class="flex max-sm:flex-wrap md:flex-nowrap justify-between w-full">
    <div class="ml-[5%] mt-20">
      <img
        [ngSrc]="model.imageUrl"
        [alt]="model.name"
        height="100"
        width="550"
      />
    </div>
    <div class="md:pl-28 max-sm:pl-8 text-left w-[50%] mt-20 mr-20">
      <h1 class="font-bold text-4xl mb-2">{{ model.name }}</h1>
      @for (category of model.categories; track category.categoryId) {
        <div class="badge badge-primary badge-outline mr-2">
          {{ category.name }}
        </div>
      }
      <div class="mt-3">
        <h1 class="font-medium text-2xl">${{ model.price }}</h1>
        <p class="font-medium mt-2">
          {{ model.status }}
        </p>
        <button class="btn btn-sm btn-warning btn-outline rounded-full mt-5">
          Add to cart
        </button>
      </div>
      <p class="mt-7 font-medium">Description:</p>
      <p>{{ model.description }}</p>
    </div>
  </div>
} @else {
  <h1>Nothing to show!</h1>
}
