@if (products && products.length > 0 && !addressFlag) {
  <div
    class="flex max-lg:flex-wrap lg:flex-nowrap justify-between w-full px-20"
  >
    <div class="lg:w-[60%] max-lg:w-[100%]">
      @for (product of products; track product.productId) {
        <div
          class="w-full flex justify-between bg-base-100 shadow-xl my-5 rounded-3xl"
        >
          <div
            [routerLink]="['/products', product.productId]"
            class="w-[50%] cursor-pointer"
          >
            <img
              class="rounded-2xl rounded-r-none"
              [ngSrc]="product.imageUrl"
              [alt]="product.name"
              width="1000"
              height="1000"
            />
          </div>
          <div class="w-[50%] py-2 px-5">
            <div class="flex justify-between">
              <h1
                [routerLink]="['/products', product.productId]"
                class="cursor-pointer text-xl font-bold mb-2"
              >
                {{ product.name }}
              </h1>
              <span
                class="text-right cursor-pointer"
                (click)="onDeleteClick(product.productId)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="red"
                  class="bi bi-trash3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                  />
                </svg>
              </span>
            </div>
            <p class="truncate mb-2">{{ product.description }}</p>
            <h1 class="text-success mb-2">{{ product.status }}</h1>
            <h1 class="text-2xl font-bold mt-5">${{ product.price }}</h1>
          </div>
        </div>
      }
    </div>
    <div class="px-16">
      <div class="card bg-base-100 w-80 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Checkout Details</h2>
          <hr />
          @for (product of products; track product.productId) {
            <div class="flex justify-around">
              <p class="truncate">
                {{ product.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
              </p>
              <p>${{ product.price }}</p>
            </div>
          }
          <hr />
          <div class="flex justify-around">
            <p>Cost &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
            <p>{{ cost }}</p>
          </div>
          <div class="flex justify-around text-success">
            <p class="truncate">Tax &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
            <p>{{ tax }}</p>
          </div>
          <div class="flex justify-around text-success">
            <p class="truncate">Shipping &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
            <p>{{ shippingCost }}</p>
          </div>
          <div class="flex justify-around font-bold">
            <p class="truncate">Total Cost &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
            <p>{{ totalCost }}</p>
          </div>
          <hr />
          <div class="card-actions justify-end">
            <button class="btn btn-primary" (click)="onCheckout()">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  @if(!addressFlag){
    <div class="font-bold mt-10 text-2xl text-center">
      No items in cart!
    </div>
  }
}

@if (addressFlag) {
  <div class="flex w-full pr-24">
    <div class="w-[70%]">
      <app-address-list
        parentComponent="CartList"
        (addressSelectEvent)="selectAddress($event)"
      ></app-address-list>
    </div>
    <div class="w-96">
      <div class="mb-6 mt-5">
        <h1 class="text-2xl font-bold">Payment Details</h1>
      </div>
      <form #form="ngForm">
        <div class="mb-3">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
              />
            </svg>
            <input
              type="text"
              class="grow"
              placeholder="Name"
              id="cardHolderName"
              name="cardHolderName"
              required
              maxlength="100"
              #cardHolderName="ngModel"
              [(ngModel)]="paymentModel.cardHolderName"
            />
          </label>
        </div>
        <div
          *ngIf="isFormSubmitted && cardHolderName.invalid"
          class="text-red-700"
        >
          <div *ngIf="cardHolderName.hasError('required')">
            Name is required.
          </div>
          <div *ngIf="cardHolderName.hasError('maxlength')">
            Name must be at most 100 characters.
          </div>
        </div>
        <div class="mb-3">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
              />
            </svg>
            <input
              type="text"
              class="grow"
              id="cardNumber"
              name="cardNumber"
              required
              maxlength="100"
              placeholder="xxxx xxxx xxxx xxxx"
              pattern="[0-9\s]{13,19}"
              #cardNumber="ngModel"
              [(ngModel)]="paymentModel.cardNumber"
            />
          </label>
        </div>
        <div *ngIf="isFormSubmitted && cardNumber.invalid" class="text-red-700">
          <div *ngIf="cardNumber.hasError('required')">
            Card No and expiry date is required.
          </div>
          <div *ngIf="cardNumber.hasError('pattern')">
            Enter valid card number.
          </div>
          <div *ngIf="cardNumber.hasError('maxlength')">
            Card No must be at most 100 characters.
          </div>
        </div>
        <div class="flex">
          <div class="w-[40%] pt-2 pl-5 font-medium">Expiry:</div>
          <div>
            <label class="input input-bordered flex items-center gap-2">
              <input
                type="month"
                class="grow"
                placeholder=""
                min="2024-04"
                id="expiryDate"
                name="expiryDate"
                required
                #expiryDate="ngModel"
                [(ngModel)]="paymentModel.expiryDate"
              />
            </label>
          </div>
          <div
            *ngIf="isFormSubmitted && expiryDate.invalid"
            class="text-red-700"
          >
            <div *ngIf="expiryDate.hasError('required')">
              Expiry Date is required.
            </div>
          </div>
        </div>
      </form>
      <h1 class="my-5">
        Total Amount: <span class="font-bold">{{ this.totalCost }}</span>
      </h1>
      <button class="btn btn-primary mx-auto" (click)="onCheckout()">
        Checkout
      </button>
    </div>
  </div>
}
