<div class="container ml-[15%] mt-10 w-96">
    <h1 class="mt-5 text-2xl font-bold">Add User</h1>
    <form #form="ngForm" (ngSubmit)="onAddUserSubmit(form)">
      <div class="mt-2">
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">Email</span>
            </div>
            <input
              type="email"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="email"
              name="email"
              required
              minlength="9"
              maxlength="100"
              #email="ngModel"
              pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
              [(ngModel)]="model.email"
            />
          </label>
          <div *ngIf="isFormSubmitted && email.invalid" class="text-red-700">
            <div *ngIf="email.hasError('required')">Email is required.</div>
            <div *ngIf="email.hasError('minlength')">
              Email must be at least 9 characters.
            </div>
            <div *ngIf="email.hasError('maxlength')">
              Email must be at most 100 characters.
            </div>
            <div *ngIf="email.hasError('pattern')">Invalid email!</div>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">Password</span>
            </div>
            <input
              type="password"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="password"
              name="password"
              required
              minlength="8"
              maxlength="24"
              #password="ngModel"
              [(ngModel)]="model.password"
            />
          </label>
          <div
          *ngIf="isFormSubmitted && password.invalid"
          class="text-red-700"
        >
          <div *ngIf="password.hasError('required')">Password is required.</div>
          <div *ngIf="password.hasError('minlength')">
            Password must be at least 8 characters.
          </div>
          <div *ngIf="password.hasError('maxlength')">
            Password must be at most 24 characters.
          </div>
        </div>
        </div>
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">FirstName</span>
            </div>
            <input
              type="text"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="firstName"
              name="firstName"
              required
              minlength="4"
              maxlength="50"
              #firstName="ngModel"
              [(ngModel)]="model.firstName"
            />
          </label>
          <div *ngIf="isFormSubmitted && firstName.invalid" class="text-red-700">
            <div *ngIf="firstName.hasError('required')">FirstName is required.</div>
            <div *ngIf="firstName.hasError('minlength')">
              FirstName must be at least 4 characters.
            </div>
            <div *ngIf="firstName.hasError('maxlength')">
              FirstName must be at most 50 characters.
            </div>
          </div> 
        </div>
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">LastName</span>
            </div>
            <input
              type="text"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="lastName"
              name="lastName"
              maxlength="50"
              #lastName="ngModel"
              [(ngModel)]="model.lastName"
            />
          </label>
          <div *ngIf="isFormSubmitted && lastName.invalid" class="text-red-700">
            <div *ngIf="lastName.hasError('maxlength')">
              LastName can have at most 50 characters.
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">PhoneNumber</span>
            </div>
            <input
              type="text"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="phoneNumber"
              name="phoneNumber"
              minlength="10"
              maxlength="15"
              #phoneNumber="ngModel"
              pattern="^\+?[1-9]\d{1,14}$"
              [(ngModel)]="model.phoneNumber"
            />
          </label>
          <div
          *ngIf="isFormSubmitted && phoneNumber.invalid"
          class="text-red-700"
        >
          <div *ngIf="phoneNumber.hasError('minlength')">
            Phone Number is not valid.
          </div>
          <div *ngIf="phoneNumber.hasError('maxlength')">
            Phone Number must be at most 15 characters.
          </div>
          <div *ngIf="phoneNumber.hasError('pattern')">
            Invalid phone number!
          </div>
        </div>
        </div>
  
        <div class="mt-3">
          <label class="form-control">
            <div class="label">
              <span class="label-text">CountryCode</span>
            </div>
            <input
              type="text"
              placeholder=""
              class="input input-bordered w-full max-w-xs"
              id="countryCode"
              name="countryCode"
              maxlength="6"
              #countryCode="ngModel"
              [(ngModel)]="model.countryCode"
            />
          </label>
          <div
          *ngIf="isFormSubmitted && countryCode.invalid"
          class="text-red-700"
        >
          <div *ngIf="countryCode.hasError('maxlength')">
            CountryCode must be at most 6 characters.
          </div>
        </div>
        </div>
        <div class="form-control mt-3">
            <label class="label cursor-pointer w-24">
              <span class="label-text">Is Admin</span>
              <input type="checkbox" [checked]="model.isAdmin" name="isAdmin" id="isAdmin" class="checkbox checkbox-primary" [(ngModel)]="model.isAdmin" />
            </label>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
  @if (errMessage) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-error">
        <span>Could not add user!</span>
      </div>
    </div>
  }
  @if (successMessage) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-success">
        <span>User added successfully!</span>
      </div>
    </div>
  }
  