<div class="statistics-container mx-auto p-5 bg-white shadow-md rounded-lg">
    <!-- <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Total Sales</h2>
        <canvas id="totalSalesChart" class="w-full h-64"></canvas>
    </div>
   -->
    <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Category Order Counts</h2>
        <canvas id="categoryOrderCountsChart" class="w-full h-64"></canvas>
    </div>
  
    <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Monthly Sales</h2>
        <canvas id="monthlySalesChart" class="w-full h-64"></canvas>
    </div>
  
    <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Total Products Sold</h2>
        <canvas id="totalProductsSoldChart" class="w-full h-64"></canvas>
    </div>
  
    <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Top Selling Products</h2>
        <canvas id="topSellingProductsChart" class="w-full h-64"></canvas>
    </div>
  
    <div class="statistic-block mb-6">
        <h2 class="text-3xl font-bold text-center text-primary mb-4">Orders in Date Range</h2>
        <canvas id="ordersInDateRangeChart" class="w-full h-64"></canvas>
    </div>
</div>
