@if (model) {
  <div class="sm:w-[100%] md:w-[70%] mx-auto">
    <div class="flex justify-around">
      <span class="font-medium"
        >Order Id: <span class="font-bold"> {{ model.orderId }}</span></span
      >
      <span class="font-medium"
        >model Id:<span class="font-bold"> {{ model.orderItemId }}</span></span
      >
    </div>

    <div class="my-16 text-center">
      <p class="text-2xl my-5">Order Status</p>
      <ul class="steps steps-vertical lg:steps-horizontal">
        <li class="step step-primary">Ordered</li>
        <li class="step">Shipped</li>
        <li class="step">Out For Delivery</li>
        <li class="step">Delivered</li>
      </ul>
    </div>

    <div class="sm:w-[100%] md:w-[40%] flex justify-between mb-5 shadow-xl rounded">
      <div class="w-[40%] cursor-pointer">
        <a [routerLink]="['/products', model.product.productId]">
          <img
            [ngSrc]="model.product.imageUrl"
            [alt]="model.product.name"
            width="200"
            height="200"
          />
        </a>
      </div>
      <div class="w-[60%] ml-5 flex justify-between">
        <div>
          <p class="font-bold text-lg">
            <a [routerLink]="['/products', model.product.productId]">
              {{ model.product.name }}
            </a>
          </p>
          <p>Total Cost:</p>
          <p class="font-medium">
            ${{ model.productCost + model.shippingCost + model.taxCost }} = ${{
              model.productCost
            }}
            + ${{ model.shippingCost }} (shipping) + ${{ model.taxCost }} (tax)
          </p>
        </div>
      </div>
    </div>
  </div>
}
