<!-- <div class="tw-p-5 tw-flex tw-bg-white tw-justify-between tw-items-center">
  <div class="tw-flex tw-ml-32 tw-items-center">
    <div class="tw-flex">
      <svg
        class="tw-w-8 tw-text-deep-purple-accent-400 tw-mx-2"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-width="2"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke="currentColor"
        fill="none"
      >
        <rect x="3" y="1" width="7" height="12"></rect>
        <rect x="3" y="17" width="7" height="6"></rect>
        <rect x="14" y="1" width="7" height="6"></rect>
        <rect x="14" y="11" width="7" height="12"></rect>
      </svg>
      <span class="tw-font-semibold tw-text-2xl tw-mr-5">GALLERIA</span>
    </div>
    <div class="tw-items-center">
      <a routerLink="/" class="tw-font-medium tw-ml-5 tw-mr-5">Home</a>
      <a routerLink="/admin/categories" class="tw-font-medium tw-mx-2">Categories</a>
    </div>
  </div>

  <div class="tw-hidden tw-md:flex tw-mr-48">
    <a class="tw-mx-2 tw-font-medium" [routerLink]="['/login']">Login</a>
    <a class="tw-mx-2 tw-font-medium" [routerLink]="['/register']">Register</a>
  </div>
  <button class="tw-p-2 tw-md:hidden" onclick="">
    <i class="bi bi-menu"></i>
  </button>

  <div class="fixed inset-0"></div>
</div> -->

<!-- <div class="p-5 flex bg-white justify-between items-center">
  <div class="flex ml-32 items-center">
    <div class="flex">
      <svg
        class="w-8 text-deep-purple-accent-400 mx-2"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-width="2"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke="currentColor"
        fill="none"
      >
        <rect x="3" y="1" width="7" height="12"></rect>
        <rect x="3" y="17" width="7" height="6"></rect>
        <rect x="14" y="1" width="7" height="6"></rect>
        <rect x="14" y="11" width="7" height="12"></rect>
      </svg>
      <span class="font-semibold text-2xl mr-5">GALLERIA</span>
    </div>
    <div class="items-center">
      <a routerLink="/" class="font-medium ml-5 mr-5">Home</a>
      <a routerLink="/admin/categories" class="font-medium mx-2">Categories</a>
    </div>
  </div>

  <div class="hidden md:flex mr-48">
    <a class="mx-2 font-medium" [routerLink]="['/login']">Login</a>
    <a class="mx-2 font-medium" [routerLink]="['/register']">Register</a>
  </div>
  <button class="p-2 md:hidden" onclick="">
    <i class="bi bi-menu"></i>
  </button>

  <div class="fixed inset-0"></div>
</div> -->

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a [routerLink]="['/']" class="text-lg font-medium">Home</a></li>
        <li>
          <details>
            <summary class="text-lg font-medium">Admin</summary>
            <ul class="p-2">
              <li>
                <a [routerLink]="['/admin/categories']" class="font-medium"
                  >Categories</a
                >
              </li>
              <li>
                <a [routerLink]="['/admin/products']" class="font-medium"
                  >Products</a
                >
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <a [routerLink]="['/']" class="btn btn-ghost text-2xl md:ml-12 lg:ml-24">
      <svg
        class="w-8 text-deep-purple-accent-400 mx-2"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-width="2"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke="currentColor"
        fill="none"
      >
        <rect x="3" y="1" width="7" height="12"></rect>
        <rect x="3" y="17" width="7" height="6"></rect>
        <rect x="14" y="1" width="7" height="6"></rect>
        <rect x="14" y="11" width="7" height="12"></rect>
      </svg>
      GALLERIA</a
    >
  </div>
  <div class="navbar hidden md:flex ml-12">
    <ul class="menu menu-horizontal px-1">
      @if (user && user.roles.includes("Writer")) {
        <li><a [routerLink]="['/']" class="text-lg font-medium">Home</a></li>
        <li>
          <details>
            <summary class="text-lg font-medium">Admin</summary>
            <ul class="p-2 z-50">
              <li>
                <a [routerLink]="['/admin/categories']" class="font-medium"
                  >Categories</a
                >
              </li>
              <li>
                <a [routerLink]="['/admin/users']" class="font-medium"
                  >Users</a>
              </li>
              <li>
                <a [routerLink]="['/admin/products']" class="font-medium"
                  >Products</a
                >
              </li>
              <li><a [routerLink]="['admin/statistics']" class="font-medium">Statistics</a></li>
            </ul>
          </details>
        </li>
      }
    </ul>
  </div>
  <label class="input input-bordered flex items-center gap-2 primary-outline input-primary">
    <input type="text" class="grow" placeholder="Search" [(ngModel)]="query" (keyup)="onQuery()"/>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </label>
  @if (!user) {
    <div class="navbar-end lg:mr-24">
      <a
        [routerLink]="['/login']"
        class="btn btn-outline btn-md px-4 mr-2 glass text-lg"
        >Login</a
      >
      <a
        [routerLink]="['/register']"
        class="btn btn-outline btn-md px-4 glass text-lg"
        >Register</a
      >
    </div>
  } @else {
    <div class="navbar-end lg:mr-24">
      <div class="mr-7 cursor-pointer" [routerLink]="['/cart', user.id]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="currentColor"
          class="bi bi-cart2"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          />
        </svg>
      </div>
      <!-- <button
        (click)="onLogout()"
        class="btn btn-outline btn-primary px-4 btn-md"
      >
        Logout
      </button> -->
      <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a class="mr-7 cursor-pointer" [routerLink]="['/myorders',user.id]">My Orders</a></li>
        <li>
          <a class="justify-between" [routerLink]="['user/update-profile/', user.id]">
            Update Profile
            <!-- <span class="badge">New</span> -->
          </a>
        </li>
        <li><a class="mr-7 cursor-pointer" [routerLink]="['user/address/', user.id]">My Addresses</a></li>
        <li><a class="mr-7 cursor-pointer" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
    </div>

  }
</div>

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" routerLink="/">Art Gallery</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        @if (user && user.roles.includes("Writer")) {
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="admin/categories"
                  >Categories</a
                >
              </li>
            </ul>
          </li>
        }
      </ul>

      <form class="d-flex mx-5" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="d-flex">
        @if (!user) {
          <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
          <a [routerLink]="['/register']" class="btn btn-primary mx-3"
            >Register</a
          >
        } @else {
          <div class="d-flex align-items-center">
            <span>{{ user.email }}</span>
            <button class="btn btn-primary ms-3" (click)="onLogout()">
              Logout
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</nav> -->
