<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" routerLink="/">Art Gallery</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        @if(user && user.roles.includes('Writer')){
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/categories"
                >Categories</a
              >
            </li>
          </ul>
        </li>
        }
      </ul>

      <form class="d-flex mx-5" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="d-flex">
        @if(!user){
        <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
        <a [routerLink]="['/register']" class="btn btn-primary mx-3"
          >Register</a
        >
        }@else {
        <div class="d-flex align-items-center">
          <span>{{ user.email }}</span>
          <button class="btn btn-primary ms-3" (click)="onLogout()">
            Logout
          </button>
        </div>

        }
      </div>
    </div>
  </div>
</nav>
